@font-face {
  font-family: 'opensans-bold';
  src: url('../fonts/opensans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/opensans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/opensans/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/opensans/OpenSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/opensans/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/opensans/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  padding-top: 31px;
  font-family: 'opensans-regular', 'sans-serif';
  padding-bottom: 37px;
  background-color: #70b62c;
  color: #888;
  font-size: 14px;
  line-height: 1.6em;
}

.page-container {
    margin-left: 60px;
}

p {
	margin: 0 0 2em;
}

::selection, a::selection {
	  background: #ebebeb;
	  color: #444;
}

h1 {
	font-family: 'opensans-bold', 'sans-serif';
	font-size: 1.5em;
	line-height: 1em;
	color: #444;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin-top: 3em;
	margin-bottom: 0.2em;
}
h2, h3 {
	font-family: 'Georgia', 'serif';
	font-size: 1.4em;
	color: #444;
	line-height: 1.1em;
	margin-top: 0;
	margin-bottom: 1.5em;
}

a {
	font-size: 1em;
	font-family: 'opensans-semibold', 'sans-serif';
	color: #70b62c;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	color: #70b62c;
}

.text-center {
  padding-top: 20px;
}

.row {
	max-width: 870px;
}

.col-xs-12 {
  background-color: #fff;
  padding: 3px;
}

.container-main-area {
	padding: 0 5em;
}

.container-media {
	margin-bottom: 2em;
}

.image-main-area {
	width: 100%;
	max-width: 960px;
}

.navbar.navbar-default.navbar-fixed-top {
    display: none;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
    margin-right: -0.5em;
    z-index: 255;
}

#sidebar .nav {
  position: fixed;
	z-index: 255;
}

.nav > li {
	height: 80px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

.nav > li > a {
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
    letter-spacing: 0.03em;
}

.progress {margin-bottom: 3px; box-shadow: none; background: rgba(255, 255, 255, 0); border: 0px solid rgba(255, 255, 255, 0); border-radius: 0px; height:80px;}
.progress-bar-custom {text-align: left; box-shadow: none; line-height:80px; background: rgba(235, 235, 235, 1);}
.progress-bar-text {
	font-size: 1.6em;
	color: #70B62C;
	font-family: 'Georgia', 'serif';
	padding-left: 7rem;
}
.progress-bar-description {
    float: right;
    line-height: 80px;
    padding-right: 5em;
    font-weight: 400;
    font-family: Georgia;
}


#image-header, #image-footer {
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Map */

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

.quote {
    font-family: 'Georgia', 'serif';
    font-size: 1.1em;
    border-left: 0;
    margin: 0;
    padding: 0;
    font-style: italic;
}
